<div class="pt-3 pb-3">
    <table class="table">
        <tr>
            <td>Manufacturer</td>
            <td id="device-manufacturer">-</td>
        </tr>
        <tr>
            <td>Model</td>
            <td id="device-model">-</td>
        </tr>
        <tr>
            <td>Color</td>
            <td id="device-color">-</td>
        </tr>
        <tr>
            <td>Software version</td>
            <td id="device-software-version">-</td>
        </tr>
        <tr>
            <td>Capacity</td>
            <td id="device-capacity">-</td>
        </tr>
        <tr>
            <td>Model code</td>
            <td id="device-model-code">-</td>
        </tr>
        <tr>
            <td>IMEI</td>
            <td id="device-imei">-</td>
        </tr>
        <tr>
            <td>Serial number</td>
            <td id="device-serial-number">-</td>
        </tr>
    </table>
</div>
