<div class="row row-eq-height">
    <div class="col-6">
        <div class="pt-3 pb-3">
            <ul class="list-group">
                <li class="list-group-item active">Display</li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Multi-Touch</span>
                    <i class="material-icons md-24" id="test-case-result-icon-48"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-48"></div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">3D Touch</span>
                    <i class="material-icons md-24" id="test-case-result-icon-52"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-52"></div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Touch</span>
                    <i class="material-icons md-24" id="test-case-result-icon-49"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-49"></div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Pinch</span>
                    <i class="material-icons md-24" id="test-case-result-icon-54"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-54"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-6">
        <div class="pt-3 pb-3">
            <ul class="list-group">
                <li class="list-group-item active">Buttons</li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Volume Up</span>
                    <i class="material-icons md-24" id="test-case-result-icon-65"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-65"></div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Volume Down</span>
                    <i class="material-icons md-24" id="test-case-result-icon-66"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-66"></div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Mute</span>
                    <i class="material-icons md-24" id="test-case-result-icon-67"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-67"></div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Power</span>
                    <i class="material-icons md-24" id="test-case-result-icon-69"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-69"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row row-eq-height">
    <div class="col-6">
        <div class="pt-3 pb-3">
            <ul class="list-group">
                <li class="list-group-item active">Sensors</li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Face ID</span>
                    <i class="material-icons md-24" id="test-case-result-icon-105"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-105"></div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Accelerometer</span>
                    <i class="material-icons md-24" id="test-case-result-icon-98"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-98"></div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Gyroscope</span>
                    <i class="material-icons md-24" id="test-case-result-icon-99"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-99"></div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Proximity</span>
                    <i class="material-icons md-24" id="test-case-result-icon-100"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-100"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-6">
        <div class="pt-3 pb-3">
            <ul class="list-group">
                <li class="list-group-item active">Software</li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Software Update</span>
                    <i class="material-icons md-24" id="test-case-result-icon-128"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-128"></div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Uptime</span>
                    <i class="material-icons md-24" id="test-case-result-icon-130"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-130"></div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">RAM</span>
                    <i class="material-icons md-24" id="test-case-result-icon-132"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-132"></div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="float-left">Storage</span>
                    <i class="material-icons md-24" id="test-case-result-icon-133"></i>
                    <div class="spinner-border spinner-border-diagnostics text-secondary" role="status" id="test-case-progress-spinner-133"></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" id="diagnostics-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
