<footer id="footer">
    <div class="main-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget">
                        <h5 class="widget-title">ACME Inc</h5>
                        <hr class="divider divider-footer"/>
                        <p>With Acme Trading you get the best price for your used mobile device.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget">
                        <h5 class="widget-title">Quick Links</h5>
                        <hr class="divider divider-footer"/>
                        <ul class="footer-list">
                            <li>
                                <a href="#">Get Started</a>
                            </li>
                            <li>
                                <a href="#">Top Devices</a>
                            </li>
                            <li>
                                <a href="#">Campaigns</a>
                            </li>
                            <li>
                                <a href="#">News</a>
                            </li>
                            <li>
                                <a href="#">Green Values</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget">
                        <h5 class="widget-title">Get Started<span></span></h5>
                        <hr class="divider divider-footer"/>
                        <p>Trade-In your device with Acme Trading to give you old device a new life!</p>
                        <a href="#">Trade Now</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget">
                        <h5 class="widget-title">Contact Us<span></span></h5>
                        <hr class="divider divider-footer"/>
                        <p><a href=#">sales@acme.com</a></p>
                        <ul class="footer-list">
                            <li>
                                <i class="fab fa-twitter social-media-button"></i>
                            </li>
                            <li>
                                <i class="fab fa-google social-media-button"></i>
                            </li>
                            <li>
                                <i class="fab fa-linkedin social-media-button"></i>
                            </li>
                            <li>
                                <i class="fab fa-reddit social-media-button"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="small" id="copyright-text">Copyright Acme Inc © 2019. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
