<div id="js-api-loading-error-container" style="display: none;">
    <img src="images/error.png" alt="Error!" class="img img-fluid">
    <h4>This is embarrassing... 🥺</h4>
    <p>
        It seems that there might be a problem with the service.<br>
        Please try to refresh the website or contact our support
        <a href="mailto:support@acme.com">support@acme.com</a>
    </p>
</div>
