<div id="qr-code-connect-container" style="display: none;">
    <h4>Connect your mobile device by scanning the QR code.</h4>
    <hr class="divider"/>
    <img src="" id="qr-code-image" alt="">

    <p>
        <b>iOS</b> --> Scan the QR code with camera app to start.
    </p>

    <p>
        <b>Android</b> --> Install PiceaOne app from Play Store and scan the QR code with PiceaOne app to start.
    </p>
</div>
