<div class="row row-eq-height">
    <div class="col-6">
        <div class="pt-3 pb-3">
            <div class="card" id="verify-check-security-lock-card">
                <div class="card-header">
                    <i class="material-icons md-48">https</i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Security Lock</h5>
                    <p class="card-text">Check that device security lock is not set. Security locked devices cannot be accepted into our Trade-In program.</p>

                    <div class="row">
                        <div class="col"></div>
                        <div class="col-auto">
                            <button class="btn btn-primary d-inline" id="verify-check-security-lock-button">Check</button>
                        </div>
                        <div class="col align-self-center">
                            <div class="spinner-border text-secondary float-right" role="status"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="pt-3 pb-3">
            <div class="card" id="verify-check-sim-card-card">
                <div class="card-header">
                    <i class="material-icons md-48">sim_card</i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">SIM card</h5>
                    <p class="card-text">Check that device has no SIM card inserted. Devices with SIM card inserted cannot be accepted into our Trade-In program.</p>

                    <div class="row">
                        <div class="col"></div>
                        <div class="col-auto">
                            <button class="btn btn-primary" id="verify-check-sim-card-button">Check</button>
                        </div>
                        <div class="col align-self-center">
                            <div class="spinner-border text-secondary float-right" role="status"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-eq-height">
    <div class="col-6">
        <div class="pt-3 pb-3">
            <div class="card" id="verify-check-find-my-iphone-card">
                <div class="card-header">
                    <i class="material-icons md-48">track_changes</i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Find my iPhone</h5>
                    <p class="card-text">Check that Find my iPhone is not enabled. Devices with Find my iPhone enabled cannot be accepted into our Trade-In program.</p>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-auto">
                            <button class="btn btn-primary" id="verify-check-find-my-iphone-button">Check</button>
                        </div>
                        <div class="col align-self-center">
                            <div class="spinner-border text-secondary float-right" role="status"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="pt-3 pb-3">
            <div class="card" id="verify-check-jailbreak-card">
                <div class="card-header">
                    <i class="material-icons md-48">code</i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Jailbreak</h5>
                    <p class="card-text">Check that device is not Jailbroken. Jailbroken devices cannot be accepted into our Trade-In program.</p>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-auto">
                            <button class="btn btn-primary" id="verify-check-jailbreak-button">Check</button>
                        </div>
                        <div class="col align-self-center">
                            <div class="spinner-border text-secondary float-right" role="status"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
