<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="vendor/fontawesome/css/all.css" rel="stylesheet">
    <script defer src="vendor/fontawesome/js/all.js"></script>

    <!-- Custom CSS -->
    <link href="stylesheets/style.min.css" rel="stylesheet">

    <!-- Social media buttons CSS -->
    <link href="stylesheets/social_media_buttons.css" rel="stylesheet">

    <!-- Material design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<% include components/navigation_bar.ejs %>

<!-- Header Content -->
<div class="container-fluid vh-100" id="header-container">
    <div class="container">
        <div class="row vh-100">
            <div class="col-lg-12 text-center align-self-center">
                <h1 class="text-white">Diagnose your mobile device!</h1>
                <hr class="divider"/>
                <p class="text-white">
                    Diagnostics OnTheFly helps to improve customer service by
                    offering instant remote device diagnostics without the need to
                    visit a repair centre or mail in a device.

                    <br><br>

                    A single operator or retail store representative can process
                    multiple customers at the same time through a customer led
                    device diagnostic check. This allows the end user to run
                    diagnostics and receive advice, repair cost estimation and
                    support without the device ever leaving their hands.
                </p>

                <br><br>

                <button class="btn btn-circle btn-lg btn-primary" id="start-btn">Start »</button>
            </div>
        </div>
    </div>
</div>

<!-- OnTheFly Content -->
<div class="container-fluid p-5" id="integration-container">
    <div class="container">
        <div class="h-100 w-100" id="onthefly-container">
            <div class="row">
                <div class="col text-center align-self-center">

                    <!-- Error view for failed OnTheFly JavaScript API download -->
                    <% include components/loading_error.ejs %>

                    <!-- Connecting QR code view -->
                    <% include components/qrcode_connect_view.ejs %>

                    <!-- Main OnTheFly container including device information, Verify & Diagnostics -->

                    <!-- Connected device information view -->
                    <div id="main-application-container" style="display: none;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-md-3 col-xl-2">
                                <div class="pt-3 pb-3">
                                    <img src="" id="device-image" alt="">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-9 col-xl-10">

                                <div id="device-information-container">
                                    <% include components/device_information_table.ejs %>
                                </div>

                                <div id="diagnostics-container" style="display: none;">
                                    <% include components/diagnostics.ejs %>
                                </div>

                                <div id="final-container" style="display: none;">
                                    <% include components/final_view_diagnostics.ejs %>
                                </div>

                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-md-3 col-xl-2">
                                <button class="btn btn-primary btn-circle" id="quit-btn" style="display: inline;">Quit</button>
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-9 col-xl-10">
                                <button class="btn btn-primary btn-circle" id="start-diagnostics-btn" style="display: none;">Diagnose »</button>
                                <button class="btn btn-primary btn-circle" id="pdf-report-btn" style="display: none;">PDF Report »</button>

                                <button class="btn btn-primary btn-circle float-right" id="continue-to-diagnostics-btn" style="display: inline;">Continue »</button>
                                <button class="btn btn-primary btn-circle float-right" id="continue-to-final-view-btn" style="display: none;">Continue »</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<% include components/footer.ejs %>

<!-- Vendor JavaScript -->
<% include components/vendor_javascript.ejs %>

<!-- OnTheFly JavaScript API -->
<script src="<%= onthefly_js_api_url %>"></script>

<script>

    $(document).ready(function() {

        /***********************************************************************
         * OnTheFly JavaScript API integration
         **********************************************************************/

        // TODO: Integrate OnTheFly JavaScript API

        /*******************************************************************
         * Event handlers
         ******************************************************************/

        /**
         * Document scrolling handler. Scrolls to the integration container
         * when the Start >> button is clicked.
         */
        $("#start-btn").click(function() {
            let offset = -96;

            $('html, body').animate({
                scrollTop: $("#integration-container").offset().top + offset
            }, 800);
        });

        /**
         * Quit button handler. Refresh the page to start over.
         */
        $("#quit-btn").click(function() {
            console.log("Quit button pressed. Reload the whole document.");

            location.reload();
            return false;
        });

        /**
         * Continue to Diagnostics button handler.
         *
         * Show Diagnostics component and start Diagnostics operation in device.
         */
        $("#continue-to-diagnostics-btn").click(function() {
            console.log("Continue to Diagnostics button clicked.");

            // Show and hide appropriate components on the website.
            let $deviceInformationContainer = $('#device-information-container');
            let $diagnosticsContainer       = $('#diagnostics-container');
            let $finalContainer             = $('#final-container');

            $deviceInformationContainer.hide();
            $diagnosticsContainer.show();
            $finalContainer.hide();

            // Show and hide appropriate buttons on the website.
            let $diagnosticsButton      = $('#continue-to-diagnostics-btn');
            let $finalViewButton        = $('#continue-to-final-view-btn');
            let $startDiagnosticsButton = $('#start-diagnostics-btn');
            let $pdfReportButton        = $("#pdf-report-btn");

            $diagnosticsButton.hide();
            $finalViewButton.show();
            $startDiagnosticsButton.show();
            $pdfReportButton.hide();
        });

        /**
         * Continue to Final view button handler.
         *
         * Show final view component.
         */
        $("#continue-to-final-view-btn").click(function() {
            console.log("Continue to Diagnostics button clicked.");

            // Show and hide appropriate components on the website.
            let $deviceInformationContainer = $('#device-information-container');
            let $diagnosticsContainer       = $('#diagnostics-container');
            let $finalContainer             = $('#final-container');

            $deviceInformationContainer.hide();
            $diagnosticsContainer.hide();
            $finalContainer.show();

            // Show and hide appropriate buttons on the website.
            let $diagnosticsButton      = $('#continue-to-diagnostics-btn');
            let $finalViewButton        = $('#continue-to-final-view-btn');
            let $startDiagnosticsButton = $('#start-diagnostics-btn');
            let $pdfReportButton        = $("#pdf-report-btn");

            $diagnosticsButton.hide();
            $finalViewButton.hide();
            $startDiagnosticsButton.hide();
            $pdfReportButton.show();
        });

    });

</script>

</body>

</html>
