<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="vendor/fontawesome/css/all.css" rel="stylesheet">
    <script defer src="vendor/fontawesome/js/all.js"></script>

    <!-- Custom CSS -->
    <link href="stylesheets/style.min.css" rel="stylesheet">

    <!-- Social media buttons CSS -->
    <link href="stylesheets/social_media_buttons.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<% include navigation_bar.ejs %>

<!-- Header Content -->
<div class="container-fluid vh-100" id="header-container">
    <div class="row vh-100">
        <div class="col-lg-12 text-center align-self-center">
            <h1 class="text-white">Trade your device with us!</h1>
            <hr class="divider"/>
            <h5 class="text-white">With Acme Trading you get the best price for your used mobile device.</h5>

            <br><br>

            <button class="btn btn-circle btn-lg btn-start" id="start-btn">Start »</button>
        </div>
    </div>
</div>

<!-- OnTheFly Diagnostics Content -->
<div class="container-fluid p-5" id="integration-container">
    <div class="h-100 w-100" id="diagnostics-container">



    </div>
</div>

<!-- Footer -->
<% include footer.ejs %>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function() {
        $("#start-btn").click(function() {
            let offset = -96;

            $('html, body').animate({
                scrollTop: $("#integration-container").offset().top + offset
            }, 800);
        });
    });
</script>

</body>

</html>
